
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

body {
    background-image: url("/images/alt=background-01.png");
    background-position: fixed; 
    background-repeat: repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    display: grid;
    justify-content: center;
    align-items: center;
}
h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 50px;
  color: #000000;
}

h2{
  text-align: center;
}
h3{
  text-align: center;
  font-size: 25px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* profile cards*/

.profile-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 120px;
    max-width: 1000px;
    text-align: center;
    vertical-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo {
    display: grid;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 8px 8px;
    align-self: center;
}

.details {
    padding: 20px;
    text-align: justify;
}

h2 a {
    color: #000000;
    text-decoration: none;
}

h2 a:hover {
    color: #007bff;
}

p {
    margin: 10px 0;
    color: #666;
}

@media (min-width: 768px) {
  body{
    width: 100%;
  }
  .profile-card {
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      row-gap: 120px;
  }
}

/* NAVIGATION */

.top-nav img {
    width: auto;
    height: 80px;
    z-index: 1;
  }
  
  .title {
     margin: 0;
     text-align: center;
     vertical-align: center;
     color: black;
     flex-grow: 1px;
     font-size: 40px;
  
  }
  
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    height: 70px;
    padding: 1em;
  }
  
  a.active,a:hover{
    background: white;
    border-radius: 6px;
    margin: 1.25em;
    transition: all 0.1s ease-in-out;
    transform: scale(1);
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px;
    padding: 0;
  }
  
  a.home:link {
    color: black;
  }
  
  a.home:visited {
    color: black;
  }
  
  a.home:link, a:visited {
    text-decoration: none;
  }
  
  a:link {
    color: black;
  }
  
  a:visited {
    color:black;
  }
  
  a:link, a:visited {
    text-decoration: none;
    margin: 10px;
  }
  
  
  .menu > li {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin: 20px 10px;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: none;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 1000px) {
    .menu-button-container {
      display: flex;
    }
  
    .title{
        font-size: 18px;
    }
  
    .top-nav img{
        height: 40px;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 100px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      z-index: 1;
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #d8e8ea;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      z-index: 1;
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: black;
      background-color: #a9cdd2;
      z-index: 1;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #255d64;
      z-index: 1;
    }
    a:hover, a.active{
        background: none;
        color: #255d64;
        z-index: 1;
    }
  }